@charset "utf-8";

/** 약관동의 **/
[class*="-container"] form:has(.terms) { margin:32px 0 72px; }
.terms li { position: relative; display:flex; align-items:center; gap:14px; padding:23px 20px; border-bottom:1px solid var(--color-d); font-size:0; }
.terms:not(:has(.check-all-area)) li:first-child { border-top:1px solid var(--color-2); }
.terms input[type="checkbox"] { display:inline-block; }
.terms input[type="checkbox"] + label { display:inline-block; position:relative; margin:0; min-height:30px; line-height:30px; color:var(--color-45); font-weight:var(--font-w-m); font-size:1rem; }
.terms input[type="checkbox"]:checked  + label span { font-weight:var(--font-w-m); color:var(--from-font-color); }

/* 전체동의 */
.terms li.check-all-area { margin-bottom:9px; border-bottom:1px solid var(--color-2); }
.terms li.check-all-area input[type="checkbox"]:checked { background-color:var(--primary); }

/* 내용보기 버튼 */
ul.check-box.terms li .modal { position:absolute; top:50%; right:20px; transform: translateY(-50%); }
.form-group .modal { padding:10px 24px; background: var(--white); border: 1px solid var(--color-d); border-radius:100px; color: var(--color-6); font-size: var(--font16); font-weight:var(--font-w-m); }

/* 약관동의 인포 */
.form-content:has(.terms) .info-list .m-dot li { margin-top:18px; font-size:var(--font18); color:var(--color-6); }
.form-content:has(.terms) .info-list .m-dot li::before { content: "·"; margin-right: 5px; }

/*---------------------------------------------
	#미디어쿼리
---------------------------------------------*/
@media (max-width:767px) {
    .terms li.check-all-area { padding:20px 18px 18px 14px; }
    .terms li { padding:14px 18px 14px 14px; }
}