
<div id="skipnavi">
    <ul>
        <li>
            <a href="#contentArea">본문 바로가기</a>
        </li>
    </ul>
</div>
<header id="headerWrap" class="headerOn">
    <div class="gnb">
        <div class="header-l">
            <h1><a href="javascript:void(0);" title="홈페이지 로고">홈페이지 로고</a></h1>
            <nav id="menuWrap" class="lnb" role="navigation" aria-label="top 메뉴">
                <ul class="menu">
                    <li class="menu-item">
                        <button type="button" class="menu-tit"  >depth1</button>
                        <div class="list-item">
                            <ul id="submenu-1" class="submenu" role="group">
                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);" aria-current="page">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item">
                        <button type="button" class="menu-tit active"  >depth1</button>
                        <div class="list-item">
                            <ul id="submenu-1" class="submenu" role="group">
                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);" aria-current="page">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item">
                        <button type="button" class="menu-tit"  >depth1</button>
                        <div class="list-item">
                            <ul id="submenu-1" class="submenu" role="group">
                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);" aria-current="page">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-r">
            <nav id="menuWrap" class="lnb" role="navigation" aria-label="top 메뉴">
                <ul class="menu">
                    <li class="menu-item">
                        <button type="button" class="menu-tit"  >depth1</button>
                        <div class="list-item">
                            <ul id="submenu-1" class="submenu" role="group">
                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li class="on"><a href="#javascript:void(0);" aria-current="page">depth3</a></li>
                                        <li><a href=".#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#javascript:void(0);" >depth3</a>
                                </li>

                                <li>
                                    <a href="#javascript:void(0);" target="_blank">depth3<span class="sr-only">새창 열기</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item">
                        <button type="button" class="menu-tit">depth1</button>
                        <div class="list-item">
                            <ul id="submenu-2" class="submenu" role="group">
                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#javascript:void(0);">depth3</a>
                                </li>

                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="https://www.fss.or.kr/fss/bbs/B0000175/list.do?menuNo=200204" target="_blank">소비자경보<span class="sr-only">새창 열기</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item">
                        <button type="button" class="menu-tit">depth1</button>
                        <div class="list-item">
                            <ul id="submenu-2" class="submenu" role="group">
                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#javascript:void(0);">depth3</a>
                                </li>

                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="https://www.fss.or.kr/fss/bbs/B0000175/list.do?menuNo=200204" target="_blank">소비자경보<span class="sr-only">새창 열기</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item">
                        <button type="button" class="menu-tit">depth1</button>
                        <div class="list-item">
                            <ul id="submenu-2" class="submenu" role="group">
                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#javascript:void(0);">depth3</a>
                                </li>

                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="https://www.fss.or.kr/fss/bbs/B0000175/list.do?menuNo=200204" target="_blank">소비자경보<span class="sr-only">새창 열기</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item">
                        <button type="button" class="menu-tit">depth1</button>
                        <div class="list-item">
                            <ul id="submenu-2" class="submenu" role="group">
                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#javascript:void(0);">depth3</a>
                                </li>

                                <li>
                                    <span>depth2</span>
                                    <ul class="submenu2">
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="#javascript:void(0);">depth3</a></li>
                                        <li><a href="https://www.fss.or.kr/fss/bbs/B0000175/list.do?menuNo=200204" target="_blank">소비자경보<span class="sr-only">새창 열기</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item">
                        <button type="button" class="menu-tit" aria-controls="submenu6"> 로그인</button>
                    </li>
                </ul>
            </nav>
            <div class="header-btn-wrap" aria-label="헤더 도구모음">
                <button class="search-btn" aria-label="검색" data-open="searchWrap"></button>
                <button class="close-btn" aria-label="전체메뉴 닫기"></button>
                <label class="toggle">
                    <input type="checkbox" name="row3-active" id="fontSizeNormal" title="큰글" value="">
                    <span>큰글</span>
                </label>
                <button class="menu-btn" aria-label="전체메뉴" data-open="modal"></button>
            </div>
        </div>
    </div>
    <!--S: 전체메뉴 -->
    <div id="allMenu" class="allmenu">
        <div class="allmenu-header">
            <div class="allmenu-header-inner">
                <div class="title-l">
                    <p>전체메뉴</p>
                    <a href="javascript:void(0);">홈페이지 로고</a>
                </div>
                <div class="btn-wrap">
                    <button class="search-btn" aria-label="검색" data-open="searchWrap"></button>
                    <button type="button" class="close-btn" aria-label="닫기"></button>
                </div>
            </div>
        </div>
        <div class="menu-cont">
            <div class="menu-l">
                <ul role="tablist" class="menu-tit">
                    <li role="tab" tabindex="0" class="on"><span data-focus="gnb1">depth1</span></li>
                    <li role="tab" tabindex="0"><span data-focus="gnb2">depth2</span></li>
                    <li role="tab" tabindex="0"><span data-focus="gnb3">depth2</span></li>
                    <li role="tab" tabindex="0"><span data-focus="gnb4">depth2</span></li>
                    <li role="tab" tabindex="0"><span data-focus="gnb5">depth2</span></li>
                    <li role="tab" tabindex="0"><span data-focus="gnb6">depth2</span></li>
                    <li role="tab" tabindex="0"><span data-focus="gnb7">depth2</span></li>
                </ul>
            </div>

            <ul class="menu-inner">
                <li class="gnb1">
                    <span>depth1</span>
                    <ul class="gnb-2dep">
                        <li>
                            <span>depth2</span>
                            <ul class="gnb-3dep">
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                            </ul>
                        </li>

                        <li>
                            <span>depth2</span>
                            <ul class="gnb-3dep">
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="gnb2 on">
                    <span>depth1</span>
                    <ul class="gnb-2dep">
                        <li>
                            <span>depth2</span>
                            <ul class="gnb-3dep">
                                <li class="on"><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="gnb3">
                    <span>depth1</span>
                    <ul class="gnb-2dep">
                        <li>
                            <span>depth2</span>
                            <ul class="gnb-3dep">
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="gnb4">
                    <span>depth1</span>
                    <ul class="gnb-2dep">
                        <li>
                            <span>depth2</span>
                            <ul class="gnb-3dep">
                                <li class="on"><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>depth2</span>
                            <ul class="gnb-3dep">
                                <li class="on"><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="gnb5">
                    <span>depth1</span>
                    <ul class="gnb-2dep">
                        <li>
                            <span>depth2</span>
                            <ul class="gnb-3dep">
                                <li class="on"><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>depth2</span>
                            <ul class="gnb-3dep">
                                <li class="on"><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>depth2</span>
                            <ul class="gnb-3dep">
                                <li class="on"><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="gnb6">
                    <span>depth1</span>
                    <ul class="gnb-2dep">
                        <li>
                            <span>depth2</span>
                            <ul class="gnb-3dep">
                                <li class="on"><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>depth2</span>
                            <ul class="gnb-3dep">
                                <li class="on"><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                            </ul>
                        </li>
                        <li>
                            <span>depth2</span>
                            <ul class="gnb-3dep">
                                <li class="on"><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="gnb7">
                    <span>depth1</span>
                    <ul class="gnb-2dep">
                        <li>
                            <span>depth2</span>
                            <ul class="gnb-3dep">
                                <li class="on"><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                                <li><a href="#">depth3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--E: 전체메뉴 -->
    <!--S: 검색창 -->
    <div id="allSearch" class="allsearch">
        <div class="allsearch-header">
            <div class="allsearch-header-inner">
                <div class="title-l">
                    <a href="javascript:void(0);">MG캐피탈</a>
                </div>
                <div class="btn-wrap">
                    <button type="button" class="close-btn" aria-label="닫기"></button>
                </div>
            </div>
        </div>
        <div class="allsearch-contain">
            <form>
                <div class="form-content">
                    <div class="search-wrap">
                        <div class="search-group">
                            <div class="ipt-search">
                                <label for="search-input" class="sr-only">검색창</label>
                                <input id="search-input" type="text" name="text" placeholder="" value="공지" aria-label="검색창">
                                <div class="search-btn-wrap">
                                    <button type="button" class="btn-clear" aria-label="입력 지우기 버튼"></button>
                                    <button type="submit" class="btn-search" aria-label="검색하기 버튼"></button>
                                </div>
                            </div>
                        </div>
                        <div class="search-group">
                            <div class="recomend">
                                <p class="tit">추천메뉴</p>
                                <ul>
                                    <li><a href="#">상품공시실</a></li>
                                    <li><a href="#">대출상담신청</a></li>
                                    <li><a href="#">금융상품</a></li>
                                    <li><a href="#">리스상품</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="search-group">
                            <p class="result-tit">결과 (<span>1</span>)</p>
                            <div class="search-result">
                                <p class="tit"><span>공지</span>사항</p>
                                <ul class="location">
                                    <li>홈</li>
                                    <li>1depth</li>
                                    <li>2depth</li>
                                    <li>3depth</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- E: 검색창 -->
</header>